body {
  padding: 0;
  background-color: #fff;
  font-family: "Open Sans";
  font-weight: lighter;
}

.container {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#loading-text {
  text-align: center;
  margin: 30px 0;
}

#not-signed-in {
  margin-top: 50%;
}

#signed-in {
  display: none;
  margin-top: 20%;
}

.header {
  text-align: center;
  margin: 10px 0 20px;
}

.btn-block {
  margin: 10px 0;
}

#message {
  text-align: center;
}