<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <script src="//apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="99933221718-embqnahm6q0fiovnj7r1prv83flb1t1o.apps.googleusercontent.com">
</head>

<body>

  <div class="container">

      <h2 class="form-signin-heading">Sign in</h2>
      <div id="g-sign-in-button" class="g-signin2" data-onsuccess="onSignIn"></div>

  </div>

  <script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>
